@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Roboto');

canvas {
  margin: 0 auto;
  margin-top: 50px;
}

body {
  background-color: yellow;
}

button {
  background-color: #800080;
  border: solid;
  border-color: #800080;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  width: 20%;
  padding: 25px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.intro-info {
  display: flex;
  align-items: center;
}

h1 {
  font-family: kalam;
  color: #800080;
  font-size: 7rem;
  font-style: italic;
}

.boton {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 20px;
  font-family: roboto;
  font-size: 1.2rem;
  text-align: center;
}

.instructions{
  display: flex;
  align-items: center;
  justify-content: center;
}
